.colornegro{
   color: black;
}
.imagenfondo{
    background-image: url(img/reconocimiento-facial-biometrico-1-70x300.jpg);
    background-attachment: fixed;
     height: 635px;
     width: 1900px;
}
 .colorgris{
     background-color: darkslategray;
     text-align: center;
     color:white;
    }
    .imagen2{
        background-image: url(img/descarga.jpg);
        background-attachment: fixed;
         height: 500px;
         width: 1700px;

    }





.verdejustificafo{
    font-weight:bold;
    color: greenyellow;

}
.verde{
    font-style: italic;
    color:green;
}

.justificado{
    font-weight:bold;
    


}
.tamañotexto{
font-size: 1.2em;


}
.azuljustificado{
    font-weight:bold;
    color: blue;
}

.colorazulisquierda{
    color: blue;
    font-style: italic;
    text-align: left;



}