.colornegro{
   color: black;
}
.imagenfondo{
    background-image: url(img/Reconocimiento-facial.jpg);
    background-attachment: fixed;
     height: 200px;
}
 .colorgris{
     background-color: darkslategray;
 }
.letrasblancas{
    color: floralwhite;
}
.alinear{
text-align: center;
}
.aumentar{
     em:1.2em;
}

.verdecito{
 font-weight:bold;
}
.verdecito{
    color: green;
}
