.colornegro{
   color: black;
}
.imagenfondo{
    background-image: url(img/Reconocimiento-facial.jpg);
    background-attachment: fixed;
     height: 635px;
     width: 1900px;
}
 .colorgris{
     background-color: darkslategray;
     text-align: center;
     color:white;
    }
    .imagen2{
        background-image: url(img/descarga.jpg);
        background-attachment: fixed;
         height: 635px;
         width: 1900px;

    }





.verdecito{
 font-weight:bold;
}
.verdecito{
    color: green;
}
